<form class="form-horizontal">
  <fieldset>

    <!-- Form Name -->
    <h3 class="bluePoly center">Ajout d'un utilisateur</h3>
    <br>
    <!-- Text input-->
    <div class="form-group">
      <label class="col-lg-4 control-label bluePoly" for="name">Nom :</label>
      <div class="col-lg-8">
        <input id="name" name="name" placeholder="" class="form-control input-lg" required="" type="text" ng-model="user.surname">

      </div>
    </div>

    <!-- Text input-->
    <div class="form-group">
      <label class="col-lg-4 control-label bluePoly" for="Prénom :">Prénom :</label>
      <div class="col-lg-8">
        <input id="Prénom :" name="Prénom :" placeholder="" class="form-control input-lg" required="" type="text" ng-model="user.name">

      </div>
    </div>

    <!-- Text input-->
    <div class="form-group">
      <label class="col-lg-4 control-label bluePoly" for="mail">E-mail :</label>
      <div class="col-lg-8">
        <input id="mail" name="mail" placeholder="" class="form-control input-lg" type="email" ng-model="user.email">

      </div>
    </div>

    <!-- Text input-->
    <div class="form-group">
      <label class="col-lg-4 control-label bluePoly" for="website">Site web :</label>
      <div class="col-lg-8">
        <input id="website" name="website" placeholder="" class="form-control input-lg" type="url" ng-model="user.website">

      </div>
    </div>

    <!-- Button (Double) -->
    <div class="form-group">
      <div class="col-lg-offset-4 col-lg-6">
        <button id="save" name="save" class="btn btn-primary" ng-click="addUser()">Sauvegarder</button>
        <a href="#/utilisateurs"><button id="cancel" name="cancel" class="btn btn-danger">Annuler</button></a>
      </div>
    </div>

  </fieldset>
</form>
