<form class="form-horizontal">
  <fieldset>

    <!-- Form Name -->
    <h3 class="center bluePoly">Rôle</h3>

    <!-- Select Basic -->
    <div class="form-group">
      <label class="col-lg-4 control-label" for="user">Utilisateur :</label>
      <div class="col-lg-6">
        <select id="user" name="user" class="form-control" ng-options="util.name for util in utils" ng-model="utilSelected">
        </select>
      </div>
    </div>

    <!-- Select Basic -->
    <div class="form-group">
      <label class="col-lg-4 control-label" for="project">Projet :</label>
      <div class="col-lg-6">
        <select id="project" name="project" class="form-control" ng-options="proj.title for proj in projects" ng-model="projSelected">
        </select>
      </div>
    </div>

    <!-- Text input-->
    <div class="form-group">
      <label class="col-lg-4 control-label" for="role">Rôle :</label>
      <div class="col-lg-6">
        <input id="role" name="role" placeholder="" class="form-control" required="" type="text" ng-model="role.name">
      </div>
    </div>

    <!-- Button (Double) -->
    <div class="form-group">
      <div class="col-lg-offset-2 col-lg-8 center">
        <button id="button1id" name="button1id" class="btn btn-primary" ng-click="saveData()">Sauver</button>
        <a href="#/main.html"><button id="button2id" name="button2id" class="btn btn-danger">Annuler</button></a>
      </div>
    </div>

  </fieldset>
</form>

